<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Page One</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngFor="let position of locationTracker.positions">
    {{position.lat}} : {{position.lng}}
  </div>
  <button ion-button (click)="startRoute()">Open Map</button>

  <ion-card class="adv-map" *ngFor="let route of routes">
    <div style="position: relative">
      <img height="200px" [src]="mapUrl(route.positions)">
    </div>
    <ion-item>
      <h2>{{route.name}}</h2>
    </ion-item>
    <ion-item actions>
      <span ion-text item-left color="subtle">{{route.length | number: '1.2-2'}} km</span>
      <button ion-button color="primary" clear item-right icon-left (click)="openRoute(route._id)">
        <ion-icon name='navigate'></ion-icon>
        Start
      </button>
    </ion-item>

  </ion-card>
</ion-content>
